.myCanvas{
    background-color: black;
    border: 1px solid blue;

}
.title{
    font-family:'Segoe UI';

}

.controles{
    font-family:'Segoe UI';
}
.controles a{
 margin-left: 5px;
 font-weight: bold;
}